KickDialog {

    .title {
        position: absolute;
        top: 20px;
        font-size: 35px;
    }

    .dialogbody {
        justify-content: center;
        align-items: center;
        flex-direction:column;
        height: 75%;
        width: 50%;


        button {
            padding: 10px 50px;
            border-radius: 10px;
            background-color: rgba(50, 50, 50, .64);
            align-items: center;
            cursor: pointer;
            transition: all 0.2s ease-in;
            justify-content: center;
            align-items: center;
            border: 2px solid transparent;
            text-transform: capitalize;

            &:hover {
                background-color: rgba(dodgerblue, 0.2);
            }

            &.invalid {
                pointer-events:none;
                background-color: rgba(crimson, 0.2);
            }
        }
    }
}
