@using Sandbox.UI;
@using System.Collections.Generic;
@using System;
@using System.Linq;
@using Sandbox;

@page "/admin/commands"
@inherits Panel
@attribute [StyleSheet]
@namespace Mbk.Admin.UI.Pages

@if (List is null)
    return;

<root>
    <span class="title">Commands</span>
    <div class="body">
        <div class="left">
            <div class="header">
                List
            </div>
            <div class="body">
                @if (List.Count == 0)
                {
                    <span class="empty">The commands list is empty</span>
                }
                else
                {
                    @foreach (var command in List)
                    {
                        <div class="command @(Selected == command ? "active" : "")" onclick=@(()=> Select(command))>
                            <span>@command.Name</span>
                            <i>chevron_right</i>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="right">
            @if (Selected is null)
            {
                <div class="center">
                    No command selected
                </div>
            }
            else
            {
                <div class="header">
                    <div>
                        <span class="name">
                            @Selected.Name
                        </span>
                    </div>
                </div>
                <div class="body">
                    <div class="section">
                        <button onclick=@(()=> Run())>Run</button>
                    </div>
                    <div class="section">
                        <span class="name">Permissions</span>
                        <div class="permissions">
                            @{
                                var list = AdminSystem.Instance.Permissions.Where(x => x.Commands.Contains(Selected.Name)).ToList();

                                if (list == null || list.Count == 0)
                                {
                                    <span class="empty">There is no permissions that has access to this command.</span>
                                }
                                else
                                {
                                    foreach (var user in list)
                                    {
                                        <div class="permission">@user.Name</div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</root>

@code {
    IList<Command> List => AdminSystem.Instance.Commands;

    Command Selected { get; set; }

    void Select(Command selection)
    {
        if (Selected == selection)
            Selected = null;
        else
            Selected = selection;
    }

    void Run()
    {
        Command.Run(Selected.Name);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(DateTime.Now.ToString() + AdminSystem.Instance.Commands);
    }
}
